@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap');

body, html {
    display: flex;
    font-size: 100%;
    font-family: 'League Spartan', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    height: 100vh;
    flex-direction: column;
    justify-content: space-between;  
}

*:before, *:after {
    box-sizing: inherit;  
}

header {
    display: inline-flex;
    justify-content: flex-end;  
    align-items: center;
    margin: 0 15px;
    padding: 0 15px;
}

a {
    text-decoration: none;
    font-size: 13px;
    color: rgba(0,0,0,.87);
    padding: 10px;
}

a:hover {
    text-decoration: underline;
}

.images {
    display: inline-flex;
    align-items: center;
}

.dots-google {
    width: 14px;
    height: 14px;
}

.dots-button {
    border-radius: 50%;
    border: transparent;
    width: 28px;
    height: 28px;
}

.dots-button:hover {
    background-color: lightgray;
}

.perfil-avatar {
    width: 32px;
    height: 32px;
}

main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.logo-google {
    height: 9rem;
    width: 17rem;
}

.busqueda {
    width: 50%;
    display: flex;
    padding: 4px;
    align-items: center;
    justify-content: space-between;
    border: 1px solid rgb(219, 219, 219);
    border-radius: 999px;
  }
  
.busqueda input {
    padding: 8px 16px;
    margin-right: 2px;
    padding-left: 4px;
    font-size: 18px;
    border: transparent;
    width: 100%; 
}

.actions {
    margin: 20px
}

.actions button {
    background-color: rgb(245, 245, 245);
    border: hidden; 
    height: 36px;
    border-radius: 4px;
    padding: 5px 16px;
    cursor: pointer;
}

.actions button:hover {
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
}

footer {
    font-size: 13px;
    background-color: rgb(153, 153, 153);
    border-bottom: 1px solid grey;
}

.origen {
    font-size: 18px;
    display: flex;
    border-bottom: 1px solid grey;
    padding: 10px 30px;
}

.footer-links {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin: 0 10px;
}

@media (max-width: 60rem) {
    .footer-links {
        flex-direction: column;
        align-items: center;
    }
}